* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    align-items: center;
    grid-gap: 5px;
    width: fit-content;
    grid-template-areas: 
    "number-left letter-top number-right"
    "number-left board number-right"
    "number-left letter-bottom number-right";
}

.number, .letter {
    border: 1px solid #000;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.number-left {
    grid-area: number-left;
    display: flex;
    flex-direction: column;
}

.number-right {
    grid-area: number-right;
    display: flex;
    flex-direction: column;
}

.letter-top {
    grid-area: letter-top;
    display: flex;
    flex-direction: row;
}

.letter-bottom {
    grid-area: letter-bottom;
    display: flex;
    flex-direction: row;
}

#chess {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(8, 55px);
    grid-template-rows: repeat(8, 55px);
    grid-area: board;
}

.cell {
    background-color: #fff;
    border: 1px solid #000;
    width: 55px;
    height: 55px;
}

.cell--black {
    background-color: #000;
}
