* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.task {
    text-align: center;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.wrap {
    display: flex;
    padding-top: 50px;
}

.products {
    margin-left: auto;
}

.product {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.product__name {
    padding-bottom: 5px;
}

.product__price {
    padding-bottom: 5px;
}

.product__btn-add {
    cursor: pointer;
}

.product__btn-remove {
    cursor: pointer;
}

.products__product:not(:last-child) {
    margin-bottom: 25px;
}

.cart {
    border: 1px solid #000;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 10px 0; 
}

.cart__product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 50px;
    border: 1px solid #000;
    padding: 0 10px;
}

.cart__total-price {
    border: 1px solid #000;
    border-bottom: none;
    text-align: center;
    padding: 10px 5px;
}

.cart__product:not(:last-child) {
    margin-bottom: 5px;
}