* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.task {
    text-align: center;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.wrap {
    display: flex;
    padding-top: 50px;
}

.product {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.product__name {
    padding-bottom: 5px;
}

.product__price {
    padding-bottom: 5px;
}

.product__btn-buy {
    cursor: pointer;
}

.product__btn-remove {
    cursor: pointer;
}

.products__product:not(:last-child) {
    margin-bottom: 25px;
}

.cart {
    border: 1px solid #000;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: auto;
}